@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Poppins:wght@600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #FF6D00;
  --primaryColor2: #FF9E1F;
  --secondaryColor: #101922;
  --asentColor: #2D080A;
  --greyColor:  #f8f8f8ee;
  --whiteColor: #ffffff;
  --transition: all 0.3s linear;
  --ff-primary: 'Open Sans', sans-serif;
  --ff-secondary: 'Poppins', sans-serif;
  --spacing: 0.2rem;
  --bold: 800;
  --normarl: 400;
  --largeFont: 3.5rem;
  --meduimFont: 2rem;
  --smallFont: 1.2rem;
  --radius: 5px;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}


select {
  display: none;
}

body {
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
  height: 100vh;
  background:#fdfdfd;
  font-family: var(--ff-primary);
}

.smooth-top {
  position: fixed;
  bottom: 2rem; 
  right: 2rem;
  width: 50px;
  height: 50px;
  background: var(--primaryColor);
  border-radius: 50%;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-size: 0.8rem;
  font-family: var(--ff-secondary);
}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

ul li {
  list-style: none;
}

input {
  outline: none;
  font-weight: 600;
}

section {
  /* margin-bottom: 1.5rem; */
}

a:hover {
  text-decoration: none;
}

.section {
  /* min-height: 100vh; */
  padding: 4rem 0;
}


img {
  max-width: 100%;
}

.container {
  max-width: 80% !important;
}

@media only screen and (max-width: 768px)  {
  .container {
    min-width: 90% !important;
  }
}

.btn__primary .join-icon {
  color: #fff !important;
}

.btn__primary {
  background: var(--primaryColor);
  padding: 6px 40px;
  border-radius: var(--radius);
  color: #fff;
  transition: var(--transition);
  border: none;
  cursor: pointer;
  font-weight: 900;
}
.btn__primary:hover {
  text-decoration: none;
  color: #fff;
}

.title {
  font-weight: var(--bold);
  font-size: var(--largeFont);
  color: var(--secondaryColor);
  font-family: var(--ff-secondary);
  /* margin-top: -0.3rem; */
}
.sub-title {
  font-weight: var(--bold);
  font-size: 1.5rem;
  color: var(--primaryColor);
}

.section-title {
  text-align: center;
  /* margin-bottom: 4em; */
  width: 80%;
  margin: 3rem auto;
}
.sec-title {
  font-weight: 600;
  color: var(--secondaryColor);
  font-size: var(--meduimFont);
  font-family: 'Poppins', sans-serif;
}

 .section-title h4 {
  color: var(--primaryColor);
  font-size: 1.2rem;
  font-weight: bold;
}

.section-title h5 {
  font-weight: 900;
  font-size: 1.09rem;
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: var(--meduimFont);
  }
  .sub-title {
    font-weight: var(--bold);
    font-size: 1rem;
    color: var(--primaryColor);
  }

  .section {
    min-height: 100%;
    padding: 2rem 0;
  }
  .section-title {
    width: 90%;
  }
}

@media only screen and (max-width: 768px)  {
  
  .title {
    font-size: 2rem;
  }
  .sec-title {
    font-weight: 600;
    color: var(--secondaryColor);
    font-size: 1.8rem;
  }

  .section-title h4 {
    color: var(--primaryColor);
    font-size: 1rem;
  }

  .section-title {
    width: 90%;
    margin: 2rem auto;
  }
}

@media only screen and (max-width: 576px)  {
  .title {
    font-size: 2rem;
  }
  .sub-title {
    font-weight: var(--bold);
    font-size: 1rem;
    color: var(--primaryColor);
  }
 
}

@media only screen and (max-width: 560px)  {
 
  .sub-title {
    font-weight: var(--bold);
    font-size: 1rem;
    color: var(--primaryColor);
  }


  .section-title h5 {
    font-size: 0.9rem;
  }
}

.core-btn {
  background: var(--primaryColor);
  color: var(--whiteColor) !important;
  padding: 6px 40px;
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--transition);
  border-radius: var(--radius);
  font-weight: 600;
}
.core-btn:hover {
  background: var(--secondaryColor);
  color: var(--whiteColor);
}

.core-btn-main {
  background: var(--secondaryColor);
  color: var(--whiteColor) !important;
  padding: 10px 40px;
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--transition);
  border-radius: var(--radius);
  font-weight: 600;
  border: none;
}

@media only screen and (max-width: 769px) {
  .core-btn {
    background: var(--primaryColor);
    color: var(--whiteColor) !important;
    padding: 6px 20px;
    text-decoration: none;
    text-transform: capitalize;
    transition: var(--transition);
  }
}


/* Header & Nav Section 
======================================*/
header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: var(--transition);
  background: transparent;
}
header:hover {
  /* background: var(--whiteColor); */
}
header:hover a {
  color: var(--primaryColor);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem auto;
}


header .logo {
  width: 150px;
}

header ul li {
  display: inline;
  margin-left: 2rem;
}
header ul {
  margin-bottom: 0rem;
}

header ul li a {
  color: var(--primaryColor);
  text-decoration: none;
  font-weight: var(--bold);
  font-size: 1rem
}

.black {
    background: var(--secondaryColor);
  }

header .bugger {
  display: none;
}

nav #close-btn {
  display: none;
}

nav .hover-dropdown {
  position: relative;
}

.dropdown-card {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  /* margin-top: 1rem; */
  left: 0;
  background: var(--secondaryColor);
  padding: 20px;
  white-space: nowrap;
  display: none;
}

.hover-dropdown .dropdown-card a {
  display: block;
  margin: 1rem 0;
}

.hover-dropdown:hover > .dropdown-card, .dropdown-card:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.hover-dropdown .dropdown-card a {
  font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 3px 0;
    /* background: var(--secondaryColor); */
    background: transparent;
  }
  header .bugger {
    display: block;
  }
  header .bugger ion-icon {
    color: var(--primaryColor);
    display: block;
    font-size: 2rem;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 3rem;
    height: 100%;
    z-index: 4;
    transition: var(--transition);
    transform: translateX(-100%);
  }

  

  header ul li {
    display: block;
    margin-left: 0;
    margin-bottom: 2rem;
  }
  header ul li a {
    color: var(--secondaryColor);
  }

  nav #close-btn {
    color: var(--primaryColor) !important;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: block;
  }

  .openOut {
    transform: translateX(0%);
  }

  header .logo {
    width: 100px;
  }
  
}


/* Header & Nav Section End.
======================================*/


/* ShowCase Section
======================================*/

.showcase {
  height: 100vh;
  overflow: hidden;
  background: var(--whiteColor);
  display: flex;
  justify-content: space-between;
}

.showcase .text-content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  font-size: var(--smallFont);
  /* color: #fff; */
}

.showcase .showcase-img {
  width: 50%;
  position: relative;
  background: #fff;
  /* background-image: linear-gradient(to bottom, #00000050,  #10192223, #10192223); */
  /* border-top-left-radius: 6rem;
  border-bottom-left-radius: 20rem; */
}

.showcase .showcase-img img {
  width: 100%;
  /* height: 40%; */
}

.icon-btn {
  color: var(--primaryColor);
  display: flex;
  align-items: center;
  border: none;
  padding: 6px;
  font-size: 1.2rem;
  font-weight: var(--normarl);
  transition: var(--transition);
  font-weight: 900;
}

.showcase .text-content p {
  font-weight: 900;
}

.icon-btn ion-icon {
  margin-left: 0.4rem;
  font-size: 2rem;
  transition: var(--transition);
}

.icon-btn:hover {
  color: var(--secondaryColor);
}

.icon-btn:hover ion-icon {
  margin-left: 1rem;
  color: var(--primaryColor);
}

@media only screen and (max-width: 1200px) {
  .showcase {
    height: 100%;
  }

  .showcase .text-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    font-size: var(--smallFont);
  }
}

@media only screen and (max-width: 768px)  {
  .showcase-home {
    height: 80vh;
    background-image: linear-gradient(to right, #101922d3, #101922de, #101922a1), url(/img/home.png);
    background-position: top;
    background-size: cover;
    color: #fff;
  }
  .showcase-service {
    height: 80vh;
    background-image: linear-gradient(to right, #101922d3, #101922de, #101922a1), url(/img/service.png);
    background-position: top;
    background-size: cover;
    color: #fff;
  }
  .showcase-about {
    height: 80vh;
    background-image: linear-gradient(to right, #101922d3, #101922de, #101922a1), url(/img/about.png);
    background-position: top;
    background-size: cover;
    color: #fff;
  }
  .showcase-contact {
    height: 80vh;
    background-image: linear-gradient(to right, #101922d3, #101922de, #101922a1), url(/img/contact.png);
    background-position: top;
    background-size: cover;
    color: #fff;
  }

  .showcase .title {
    color: #fff;
  }

  .showcase .text-content {
    padding: 0 2rem;
    width: 100%;
  }

  .showcase .showcase-img {
    display: none;
  }

  .icon-btn {
    color: var(--primaryColor);
    display: flex;
    align-items: center;
    border: none;
    padding: 6px;
    font-size: 1rem;
    font-weight: var(--normarl);
    transition: var(--transition);
    font-weight: 900;
  }
}


@media only screen and (max-width: 576px)  {
  .showcase {
    padding-top: 1.8rem;
  }
  .showcase .showcase-img {
    width: 40%;
  }
 
}

@media only screen and (max-width: 560px)  {
  .showcase {
    padding-top: 1.8rem;
  }
  
}


/* ShowCase Section End.
======================================*/


/* Welcome Section
======================================*/

.welcome-section .section-title {
  margin-bottom: 4rem;
}

.welcome-section .card  {
  position: relative;
  margin: 1rem auto;
  height: 350px;
  /* box-shadow: var(--light-shadow); */
  transition: var(--transition);
  border-top: dashed 2px var(--secondaryColor);
  border-left: dashed 2px var(--secondaryColor);
  width: 80%;
}
.welcome-section .flow-top {
  margin-top: 6rem;
}
.welcome-section .card .card-img .dash {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: relative;
  top: -1.5rem;
  left: -1.5rem;
  border: dashed 2px #333;
  background: var(--whiteColor);
  transition: var(--transition);
}
.welcome-section .card .card-img .user {
  width: 130px;
  height: 125px;
  border-radius: 50%;
  position: relative;
  bottom: -0.2rem;
  right: -0.5rem;
  border: solid 13px #fff;
}

.welcome-section .card .card-body {
  text-align: center;
  padding: 1rem 2rem;
}

.welcome-section .card .card-title {
  font-family: var(--ff-secondary);
  color: var(--secondaryColor);
}

.welcome-section .card:hover {
  /* border: none; */
  box-shadow: var(--dark-shadow);
  border-top: dashed 2px var(--primaryColor);
  border-left: dashed 2px var(--primaryColor);
}

.welcome-section .card:hover.flow-top {
  margin-top: 1rem;
}

.welcome-section .card:hover .dash {
  border-color: var(--primaryColor);
  
}

@media only screen and (max-width: 1200px) {
  .welcome-section .card {
    height: 100%;
    margin: 2.5rem auto;
    width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .welcome-section .flow-top {
    margin-top: 1rem;
  }
  .welcome-section .card {
    height: 320px;
    margin: 2.5rem auto;
    width: 90%;
  }

  .welcome-section .card .card-img .dash {
    width: 100px;
    height: 105px;
    border-radius: 50%;
    position: relative;
    top: -1.5rem;
    left: -1rem;
    border: dashed 2px #333;
    background: var(--whiteColor);
    transition: var(--transition);
  }
  .welcome-section .card .card-img .user {
    width: 105px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -0.3rem;
    right: -0.3rem;
    border: solid 10px #fff;
  }
}

/* Welcome Section End
======================================*/



/* Service Section 
======================================*/

.service-section .service-card {
  color: var(--secondaryColor);
  padding: 10px;
  height: 180px;
  width: 100%;
  margin: 1.5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  font-family: var(--ff-secondary);
  text-transform: capitalize;
  text-align: center;
  background: #fff;
  box-shadow: var(--dark-shadow);
  position: relative;
  overflow: hidden;
}

.service-circle {
  width: 200px;
  height: 200px;
  background: #fff;
  border: solid 60px #fff2e8;
  position: absolute;
  top: -6rem;
  right: -5rem;
  z-index: 0;
  border-radius: 50%;
}
.service-line {
  width: 1.5px;
  height: 500px;
  background: #ccdae9;
  position: absolute;
  left: 0rem;
  top: -1rem;
  bottom: 0;
  transform: rotate(20deg);
}

.service-card h4 {
  font-weight: 500;
  font-size: 1.5rem;
  z-index: 9;
}

.service-card h4 span {
  color: var(--primaryColor);
}

/* .service-section .web-img {
  background-image: linear-gradient(to right, #101922, #101922de, #10192267), url(/img/gen.png);
  background-position: center;
  background-size: cover;
}
.service-section .mobile-img {
  background-image: linear-gradient(to right, #101922, #101922de, #10192267), url(/img/mobiledev.png);
  background-position: center;
  background-size: cover;
}
.service-section .product-img {
  background-image: linear-gradient(to right, #101922, #101922de, #10192267), url(/img/gen2.jpg);
  background-position: center;
  background-size: cover;
}
.service-section .graphic-img {
  background-image: linear-gradient(to right, #101922, #101922de, #10192267), url(/img/graphics.png);
  background-position: center;
  background-size: cover;
}
.service-section .uiux-img {
  background-image: linear-gradient(to right, #101922, #101922de, #10192267), url(/img/uiux.png);
  background-position: center;
  background-size: cover;
}
.service-section .content-img {
  background-image: linear-gradient(to right, #101922, #101922de, #10192267), url(/img/contentcreation.png);
  background-position: center;
  background-size: cover;
} */

.service-btn {
  text-align: center;
  margin-top: 1rem;
}

@media only screen and (max-width: 1200px) {
  .service-section .service-card {
    width: 100%;
    margin: 1rem auto;
    height: 200px;
    padding: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .service-section .service-card {
    width: 100%;
    margin: 1rem auto;
    height: 150px;
    font-size: 1rem;
  }

  .service-circle {
    width: 200px;
    height: 200px;
    background: #fff;
    border: solid 30px #fff2e8;
    position: absolute;
    top: -8rem;
    right: -7em;
    z-index: 0;
    border-radius: 50%;
  }

  .service-line {
    width: 1.5px;
    height: 500px;
    background: #ccdae9;
    position: absolute;
    left: 0rem;
    top: -1rem;
    bottom: 0;
    transform: rotate(20deg);
  }

  .service-card h4 {
    font-weight: 500;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 350px) {
  .service-section .service-card {
    width: 130px;
    margin: 1rem auto;
    height: 150px;
    font-size: 1rem;
  }
}


/* Service Section End
======================================*/



/* Success case Section
======================================*/

.work-section .cases-card {
  width: 90%;
  border-radius: var(--radius);
  border: solid 1px #ccc;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  transition: var(--transition);
  margin: 2rem auto;
}


.work-section .cases-card:hover {
  box-shadow: var(--dark-shadow);
  border: none;
}

.work-section .cases-card .content {
  padding: 2rem;
}

.work-section .cases-card .case-img {
  background: #f1f1f1;
  padding: 20px;
  border-radius: var(--radius);
  width: 35%;
  transition: var(--transition);
}



.work-section .cases-card:hover .case-img {
  background: var(--secondaryColor);
}

.work-section .cases-card .case-title {
  font-family: var(--ff-secondary);
  color: var(--secondaryColor);
}
.work-section .cases-card h5 {
  margin: 2rem 0;
}

@media only screen and (max-width: 1200px) {
  .work-section .cases-card .case-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .work-section .cases-card .content {
    padding: 1rem;
  }
  .work-section .cases-card {
    padding: 1rem;
  }

  .work-section .cases-card h5 {
    margin: 1rem 0;
    font-weight: 600;
    font-size: 1rem;
  }

  .work-section .cases-card .case-title {
    font-size: 1.5rem;
  }

  .work-section .cases-card .case-img img{
    width: 100%;
    height: 130px;
  }
}



/* Success case Section End
======================================*/


/* Clients Section
======================================*/

.clients-section .client-card {
  border: solid 1px #ececec;
  padding: 1rem;
  border-radius: var(--radius);
  position: relative;
  margin: 2rem auto;
  width: 90%;
  transition: var(--transition);
}

.clients-section .client-card:hover {
  box-shadow: var(--dark-shadow);
  border: solid 1px var(--secondaryColor);
}


.clients-section .client-one .client-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 2px #fff;
  position: absolute;
  top: -2rem;
  right: 1.5rem;
  transition: var(--transition);
}

.clients-section .client-card:hover .client-img{
  transform: rotate(10deg);
  border: solid 2px var(--secondaryColor);
}

.clients-section .client-two .client-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  bottom: -2rem;
  right: 1.5rem;
  transition: var(--transition);
}

.clients-section .client-two .text {
  padding-top: -0rem;
  font-size: 1rem;
}

.clients-section .client-two .user-title {
  padding-bottom: 1.5rem;
}

.clients-section .client-three .client-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: -2rem;
  left: 1.5rem;
  transition: var(--transition);
}



.clients-section .client-card p {
  padding-top: 2.5rem;
  font-size: 1rem;
}

.clients-section .client-card h5 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.clients-section .client-card .user-name {
  color: var(--primaryColor);
  font-family: var(--ff-secondary);
  margin-bottom: 1rem;
}




/* Clients Section End
======================================*/


/* Contact Section
======================================*/

.contact-section .contact-form {
  width: 100%;
  margin: 0 auto;
}

.contact-form .contact-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
   background: #fbfbfb;
}

.contact-row .contact-col {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.contact-text {
  padding: 3rem 4rem;
}

.contact-text .sec-text {
  font-weight: 900;
}

.steps-flow {
  margin-top: 4rem;
  border-left: solid 3px #ccc;
  position: relative;
}

.contact-text .step-card {
  margin: 0;
  position: relative;
  padding-left: 2rem;
  padding-top: 2rem;
}

.contact-text .step-card h5 {
  font-family: var(--ff-secondary);
  font-size: 0.9rem;
}

.contact-text .step-card .pin {
  width: 40px;
  position: absolute;
  top: 0;
  left: -1.4rem;
}
.contact-text .step-card .pin-1 {
  width: 40px;
  position: absolute;
  bottom: -1rem;
  left: -1.4rem;
}

.contact-row .contact-bgg {
  background-image: linear-gradient(to bottom, #2d080a42, #2d080a81), url(/img/contactbg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-bg .exper {
  text-align: center;
  color: #eee;
  font-family: var(--ff-secondary);
  text-transform: capitalize;
  margin-top: 2rem;
}
.contact-bg .exper h1 {
  font-size: 4rem;
  margin-bottom: -2px;
  background: -webkit-linear-gradient(  #ccc, #eee, #413f3f, #8a8a8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1200px) {
  .contact-form .contact-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contact-row .contact-col {
    /* width: 100%; */
    height: 60vh;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 768px) {
  .contact-form .contact-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .contact-bg .exper h1 {
    font-size: 3rem;
  }
  .contact-row .contact-col {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

.form-container {
  padding: 3rem 4rem;
}

.form-container .input-group {
  margin-bottom: 1.5rem;
}
.form-container form label {
  font-weight: 900;
  text-transform: capitalize;
}

.input-group-text {
  background: #fafafa;
  color: var(--secondaryColor);
}

.form-container form textarea {
  width: 100%;
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 1rem;
}

.form-container form textarea, form .form-control, form .input-group-text{
  border-color: var(--primaryColor);
}

label i{
  color: var(--primaryColor);
}

form .input-group-text {
  color: var(--primaryColor);
}

.form-container form .button {
  display: flex;
  align-items: center;
  justify-content: flex-end;  
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .form-container {
    padding: 1rem 2rem;
  }
  form {
    margin-top: 2rem;
  }

  .form-container .input-group {
    margin-bottom: 1rem;
  }
}

/* Contact Section End
======================================*/

/* Development Section
======================================*/

.dev-section {
  height: 100%;
  padding: 6rem 0;
}

.dev-section .stack-dev{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--whiteColor);
  flex-direction: row;
}

.stack-dev .dev-card  {
  padding: 3rem;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 350px;
  transition: var(--transition);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .stack-dev .dev-card {
    padding: 1rem
  }
}

.stack-dev .dev-card:hover {
  background: var(--secondaryColor);
}

.stack-dev .dev-card h2 {
  font-family: var(--ff-secondary);
  text-transform: capitalize;
  margin: 0.67rem 0;
}

.stack-dev .front-end {
  /* background: var(--asentColor); */
  background-image: linear-gradient(to bottom, rgba(16, 25, 34, 0.191), #101922fb, #101922fb), url(/img/fintech.jpg);
  background-position: center;
  background-size: cover;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.stack-dev .back-end {
  /* background: var(--primaryColor); */
  background-image: linear-gradient(to bottom, rgba(16, 25, 34, 0.191), #101922fb, #101922fb), url(/img/proptech.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: var(--dark-shadow);
  z-index: 6;
  height: 340px;
  border-radius: var(--radius);
}

.stack-dev .product-dev {
  /* background: var(--primaryColor2); */
  background-image: linear-gradient(to bottom, rgba(16, 25, 34, 0.191), #101922fb, #101922fb), url(/img/retail.jpg);
  background-position: center;
  background-size: cover;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.stack-dev .constructor-dev, .stack-dev .travel-dev {
  margin: 2rem 1rem;
  border-radius: var(--radius);
}

.stack-dev .constructor-dev {
  background-image: linear-gradient(to bottom, rgba(16, 25, 34, 0.191), #101922fb, #101922fb), url(/img/cover_construction.jpeg);
  background-position: center;
  background-size: cover;
}

.stack-dev .travel-dev {
  background-image: linear-gradient(to bottom, rgba(16, 25, 34, 0.191), #101922fb, #101922fb), url(/img/travel.jpg);
  background-position: center;
  background-size: cover;
}

.tech-card {
  /* background: #ccc; */
  padding: 3rem;
  height: 150px;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  text-align: center;
  transition: var(--transition);
}

.tech-card h4 {
  font-weight: 900;
  margin-top: 10px;
  font-size: 0.9rem;
}

.tech-card:hover {
  box-shadow: var(--light-shadow);
}

.hire-section {
  margin-top: 4rem;
}

.hire-card {
  text-align: center;
  margin-bottom: 1rem;
  height: 280px;
  padding: 1rem 2rem;
  box-shadow: var(--dark-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  color: var(--whiteColor);
  text-transform: capitalize;
  
}

.hire-card h5 {
  font-family: var(--ff-secondary);
  font-size: 1rem;
}

.card-one {
  background: var(--asentColor);
}
.card-two {
  background: var(--primaryColor);
}
.card-three {
  background: var(--secondaryColor);
}
.card-four {
  background: var(--primaryColor2);
}

@media only screen and (max-width: 769px)  {

  .dev-section {
    height: 100%;
    padding: 2rem 0;
  }
  .dev-section .stack-dev{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--whiteColor);
  }
  
  .stack-dev .dev-card  {
    width: 100%;
    margin: 2rem auto;
    border-radius: var(--radius);
  }
  .stack-dev .dev-card h2 {
    font-size: 1.5rem;
  }

  .hire-card h5{
    font-size: 1rem;
    padding: 10px;
  }

  .hire-card {
    padding: 2rem;
    height: 90%;
    margin-top: 1rem;
  }
  
}

/* Development Section End
======================================*/
  

/* About Us Section End
======================================*/
.expert {
  text-align: center;
  text-transform: capitalize;
}
.expert h5 {
  font-weight: 900;
}
.expert h1 {
  font-size: 7rem;
  margin-bottom: -2px;
  background: -webkit-linear-gradient(  #8a8a8a, #5f5d5d, #eee, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--ff-secondary);
}

.team-section .team-card {
  width: 80%;
  margin: 1rem auto;
  padding: 10px;
  box-shadow: var(--dark-shadow);
}

.team-card .team-details .name{
  margin-top: 1rem;
  line-height: 0.5;
  font-family: var(--ff-secondary);
  font-size: 0.9rem;
}

.team-details .desc {
  text-transform: uppercase;
  color: var(--primaryColor);
  font-weight: var(--bold);
}

.team-one {
  margin-top: 3rem !important;
}

@media only screen and (max-width: 768px)  {
  .team-one {
    margin-top: 1rem !important;
  }

  .team-section .team-card {
    width: 100%;
  }

  .expert h1 {
    font-size: 4rem;
    margin-top: 2rem;
  }
}


.mission-section .mission-row {
  background: var(--secondaryColor);
  color: var(--whiteColor);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(16, 25, 34, 0.575), #101922fb), url(/img/smallbiz.png);
  background-position: center;
  background-size: cover;
  text-align: center;
}
.mission-section .career-row {
  background: var(--secondaryColor);
  color: var(--whiteColor);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65vh;
  position: relative;
}

.mission-section .mission-content {
  width: 60%;
  padding: 2rem 4rem;
}


.mission-content .titl {
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
}

.small-bg .title {
  color: #fff;
}

.img-career-one {
  margin-bottom: 1rem;
  width: 350px;
  height: 230px;
  /* background: #ccc; */
  background-image: url(/img/gen.png);
  background-position: top;
  background-size: cover;
  border-radius: var(--radius);
}
.img-career-two {
  margin-top: 1rem;
  width: 350px;
  height: 230px;
  /* background: #333; */
  background-image: url(/img/contactbg.png);
  background-position: center;
  background-size: cover;
  border-radius: var(--radius);
}

.mission-section .mission-row .mission-img{
  width: 500px;
  /* background: #333; */
  height: 650px;
  /* position: absolute; */
  margin-right: 4rem;
  background-image: url(/img/mission.png);
  background-position: center;
  background-size: cover;
  border-radius: var(--radius);
  padding: 10px;
}
.mission-section .career-row .career-img{
  margin-right: 6rem;
  background-position: center;
  background-size: cover;
  border-radius: var(--radius);
  padding: 10px;
}

@media only screen and (max-width: 1200px) {
  .mission-section .mission-row .mission-img {
    width: 400px;
  }

  .mission-content .title {
    color: #fff;
    font-size: 2rem;
  }

  .mission-section .mission-row {
    color: var(--whiteColor);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    position: relative;
    padding: 2rem 4rem;
  }

}

@media only screen and (max-width: 769px) {
 

  .career-img {
    display: none;
  }

  .mission-content .titl {
    color: #fff;
    font-size: 1.2rem;
  }

  .mission-section .small-bg {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .mission-section .career-row .career-img {
    margin-right: 0rem;
  }

  .mission-section .career-row .mission-content {
    width: 100%;
    padding: 2rem;
  }

  .mission-content .title {
    color: #fff;
    /* font-size: 1.7rem; */
  }

  .mission-section .mission-content {
    width: 100%;
    padding: 2rem 0;
  }
}



.vision-section .vision-row {
  color: var(--whiteColor);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(16, 25, 34, 0.575), #101922fb), url(/img/contactbg.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
  padding: 2rem;
}

.vision-content .titl {
  font-size: 2rem;
  line-height: 1.5;
  /* font-family: var(--ff-secondary); */
  font-weight: 900;
}

.vision-content .title-top {
  margin-top: 6rem;
}

.vision-section .vision-row .vision-content {
  width: 70%;
 }

@media only screen and (max-width: 769px) {
  .vision-content .titl {
    font-size: 1.3rem;
    line-height: 1.5;
    /* font-family: var(--ff-secondary); */
    font-weight: 900;
  }

  .vision-section .vision-row .vision-content {
    width: 100%;
   }
}


footer {
  padding-top: 20px;
  padding-bottom: 10px;
  background: var(--secondaryColor);
  color: #fff;
}

footer p {
  font-weight: 900;
}

footer i {
  font-size: 1.5rem;
  margin: 0 1rem;
  color: var(--primaryColor);
  transition: var(--transition);
}
footer i:hover {
  color: var(--primaryColor);
}


.model {
  background: #ccc;
  padding: 4rem;
  height: 300px;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.model-text {
  width: 40%;
  font-weight: 900;
}
.model-text h5{
  font-weight: 900;
}

.model-text h3{
  font-family: var(--ff-secondary);
}

.model-2 .model-text, .model-3 .model-text {
  color: #fff;
}


.model-1 {
  background-image: url(/img/product-1.jpg);
  background-position: center;
  background-size: cover;
}
.model-2 {
  background-image: url(/img/pro-3.jpg);
  background-position: center;
  background-size: cover;
}
.model-3 {
  background-image: url(/img/pro-2.jpg);
  background-position: center;
  background-size: cover;
}

.model-text-mobile {
  display: none;
}

@media(max-width: 768px) {

  .model-text-mobile {
    display: block;
  }

  .model-text {
    display: none;
  }

  .model {
    padding: 2rem;
    height: 200px;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .model-text {
    width: 100%;
    font-weight: 900;
  }

  .model-1 {
    background-image: url(/img/mobile-1.jpg);
    background-position: center;
    background-size: cover;
  }
  .model-2 {
    background-image: url(/img/mobile-2.jpg);
    background-position: center;
    background-size: cover;
  }
  .model-3 {
    background-image: url(/img/mobile-3.jpg);
    background-position: center;
    background-size: cover;
  }
}

.agile-section hr {
  margin: 2rem 0;
}

.agile-section img {
  margin-top: 4rem;
}

.estimate-title {
  font-family: var(--ff-secondary);
  color:#33bcdf;
}

.estimate-text p {
  font-size: 1rem;
}
.estimate-text ul li, .planing-text ul li, .design-text ul li, .coding-text ul li{
  list-style-type: square;
  line-height: 2;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  aside {
    background: red;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

